.bigCardAttivitaContainer {
  background-color: #afe0f3;
  border: solid 1px rgb(213, 211, 211);
  padding-bottom: 20px;
}

.bigCardAttivitaContainerInterno {
  background-color: #e0f3f9;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 2%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bigCardAttivitaImage {
  float: left;
  width: 35%;
}

.bigCardAttivitaImage img {
  width: 100%;
  height: auto;
}

.bigCardAttivitaButton {
  width: 95%;
}
