@import "colori";

.immagineCarosello {
  max-width: 100%;
  aspect-ratio: 25/9;
  object-fit: cover;
}

.caroselloCaptionText {
  color: $primary-color !important;
  border: solid 1px $primary-color;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 1rem;

  p {
    font-style: italic;
  }

  &:hover {
  }
}

@media (max-width: 768px) {
  .caroselloCaptionText {
  }
  .immagineCarosello {
    aspect-ratio: 20/9;
  }
}

@media (max-width: 520px) {
  .caroselloCaptionText {
  }
  .immagineCarosello {
    aspect-ratio: 1/1;
  }
}
