@import "colori";

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $footer-background-color;
  color: $primary-color;
  font-weight: bold;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-top: 2px solid;

  a {
    color: $primary-color;

    &:hover {
      color: $footer-text-hover-color;
    }
  }
}

.footer-icons {
  font-size: x-large !important;
  margin-right: 2%;
  color: $primary-color !important;
}
